body {
  background-color: rgb(30, 118, 124);
}

.header
 {
  background:rgba(215, 0, 0, 0.67); 
  color: black; 
  font-family: 'Anton', cursive; 
  padding: 15px;
  font-size: 50px;
  font-weight: 650;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin-bottom: 15px; 
  flex-direction: row; 
  align-items: center; 
  flex-flow: row wrap; 
}

.header img
{
  width: 160px;
}
.profile 
{
  width: 190px;
}

.content{
  width: 960px; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

.wrapper{
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.experience{
  width: 650px;
  height: 600px;
  background: rgba(0, 215, 64, 0.67);
  border: 3px solid black;
}

.caption
{
  width: 180px;
  background: rgba(99, 185, 49, 0.815);
  border: 2px solid black;
  color: black;
}



@media screen and (max-width: 1000px){
  .wrapper{
    justify-content: center;
  }

  .header{
    background: rgb(255, 0, 0);
  }

  .caption{
    justify-content: center;
  }
  .experience{
    justify-content: center;
  }
}